@font-face {
    font-family: AppleSDGothic;
    font-style: normal;
    font-weight: 500;
    src: url("./font/AnyConv.com__AppleSDGothicNeoB.woff");
}
@font-face {
    font-family: AppleSDGothic;
    font-style: normal;
    font-weight: 500;
    src: url("./font/AnyConv.com__AppleSDGothicNeoEB.woff");
}
@font-face {
    font-family: AppleSDGothic;
    font-style: normal;
    font-weight: 500;
    src: url("./font/AnyConv.com__AppleSDGothicNeoH.woff");
}
@font-face {
    font-family: AppleSDGothic;
    font-style: normal;
    font-weight: 500;
    src: url("./font/AnyConv.com__AppleSDGothicNeoL.woff");
}
@font-face {
    font-family: AppleSDGothic;
    font-style: normal;
    font-weight: 500;
    src: url("./font/AnyConv.com__AppleSDGothicNeoM.woff");
}
@font-face {
    font-family: AppleSDGothic;
    font-style: normal;
    font-weight: 500;
    src: url("./font/AnyConv.com__AppleSDGothicNeoR.woff");
}
@font-face {
    font-family: AppleSDGothic;
    font-style: normal;
    font-weight: 500;
    src: url("./font/AnyConv.com__AppleSDGothicNeoSB.woff");
}
@font-face {
    font-family: AppleSDGothic;
    font-style: normal;
    font-weight: 500;
    src: url("./font/AnyConv.com__AppleSDGothicNeoT.woff");
}
@font-face {
    font-family: AppleSDGothic;
    font-style: normal;
    font-weight: 500;
    src: url("./font/AnyConv.com__AppleSDGothicNeoUL.woff");
}